html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #000; }
u {    
    border-bottom: 1px dashed #FFF;
    text-decoration: none; }
.listItem {
    list-style: none; }